<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %message%n</pattern>
        </encoder>
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <logger name="com.example" level="INFO">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="File"/>
    </logger>

</configuration>